.site {
    height: 100%;
    display: grid;
    grid-template-areas:
        "left center right"
                            ;
    grid-template-columns: 2em auto 2em;
	background-color: dimgrey;
}

.background-text {
    grid-area: center;
    font-family: 'Lobster', cursive;
    overflow: hidden;
    font-size: 8vw;
	color: 	grey;
}

.actor-forms {
    grid-area: center;
    padding-top: 70%;
}

.input {
    display: block;
    width: 70%;
    max-width: 28em;
    height: 2.5em;
    border-radius:.5em;
    margin: 0 auto 2em;
    border: none;
    padding-left: 1em;

}

::placeholder {
font-family: sans-serif;
text-align: center;
  color: darkgrey;
  font-size: 1.3em;
  letter-spacing: .3em;

}

@supports (-webkit-background-clip: text) {
.background-text .aftertitle {
	background: linear-gradient(to right,currentColor, dimgrey);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
  }
}

.background-text .title {
	color: silver;
}

.background-text .pink-text {
	color: mistyrose;
}



/*--------------------------------------------------------------
CSS Grid layout for responive:
--------------------------------------------------------------*/
@media screen and (min-width: 40em) {
    .site {
        grid-template-columns: 6em auto 6em;
    }
	.background-text {
		font-size: 5.5vw;
	}

    .actor-forms {
        padding-top: 55%;
    }

    ::placeholder {
          font-size: 1.1em;
        }
    }

}
@media screen and (min-width: 60em) {
    .site {
        grid-template-columns: 10em auto 10em;
    }
    .actor-forms {
        padding-top: 52%;
    }


}

@media screen and (min-width: 70em) {
    .site {
        grid-template-columns: 13em auto 13em;
    }
    .actor-forms {
        padding-top: 48%;
    }


}

@media screen and (min-width: 80em) {
    .site {
        grid-template-columns: 16em auto 16em;
    }

    .background-text {
        font-size: 4vw;
    }

    .actor-forms {
        padding-top: 45%;
    }
}

@media screen and (min-width: 90em) {
    .site {
        grid-template-columns: 20em auto 20em;
    }

    .background-text {
        font-size: 4vw;
    }

    .actor-forms {
        padding-top: 37%;
    }
}
